<!-- Check if the file has a DIV container with buttons -->
<div class="component-permissions-container">
  <div class="header-section">
    <h2>UI Component Permissions</h2>
    <div class="actions">
      <button mat-raised-button color="primary" *appHasPermission="'permissions:refresh'" (click)="refreshComponents()">
        <mat-icon>refresh</mat-icon> Refresh Components
      </button>
    </div>
  </div>
  
  <mat-form-field appearance="outline" class="filter-field">
    <mat-label>Filter</mat-label>
    <input matInput [formControl]="filterControl" placeholder="Search components...">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  
  <div class="table-container mat-elevation-z1">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Selector Column -->
      <ng-container matColumnDef="selector">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Selector </th>
        <td mat-cell *matCellDef="let component">
          {{component.selector}}
        </td>
      </ng-container>
      
      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
        <td mat-cell *matCellDef="let component">
          {{component.description}}
        </td>
      </ng-container>
      
      <!-- Required Permissions Column -->
      <ng-container matColumnDef="requiredPermissions">
        <th mat-header-cell *matHeaderCellDef> Required Permissions </th>
        <td mat-cell *matCellDef="let component">
          <div class="permissions-list">
            <mat-chip-set>
              <mat-chip *ngFor="let permission of component.requiredPermissions">
                {{permission}}
              </mat-chip>
            </mat-chip-set>
            <span *ngIf="!component.requiredPermissions?.length" class="no-permissions">
              No permissions required
            </span>
          </div>
        </td>
      </ng-container>
      
      <!-- Override Column -->
      <ng-container matColumnDef="overridePermissions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Override </th>
        <td mat-cell *matCellDef="let component">
          <mat-icon *ngIf="component.overridePermissions" color="accent">check_circle</mat-icon>
          <mat-icon *ngIf="!component.overridePermissions" color="disabled">remove_circle_outline</mat-icon>
        </td>
      </ng-container>
      
      <!-- Last Synced Column -->
      <ng-container matColumnDef="lastSynced">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Synced </th>
        <td mat-cell *matCellDef="let component">
          {{component.lastSynced | date:'medium'}}
        </td>
      </ng-container>
      
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let component">
          <button 
            mat-icon-button 
            [matTooltip]="'Edit Permissions'"
            *appHasPermission="'permissions:edit'"
            (click)="editComponentPermissions(component)">
            <mat-icon>edit</mat-icon>
          </button>
          
          <button 
            mat-icon-button 
            [matTooltip]="component.overridePermissions ? 'Remove Override' : 'Override Permissions'"
            *appHasPermission="'permissions:edit'"
            (click)="toggleOverride(component)">
            <mat-icon>{{component.overridePermissions ? 'toggle_off' : 'toggle_on'}}</mat-icon>
          </button>
        </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
      <!-- No data row -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell no-data" [attr.colspan]="displayedColumns.length">
          No components found
        </td>
      </tr>
    </table>
    
    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div> 