<mat-nav-list>
  <div class="sidebar-header">
    <h2>Menu</h2>
  </div>
  
  <!-- Common navigation items available to all users -->
  <a mat-list-item 
     *ngFor="let item of commonNavItems" 
     [routerLink]="item.route" 
     routerLinkActive="active-link">
    <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
    <span matListItemTitle>{{ item.label }}</span>
  </a>
  
  <!-- Admin/Project Manager specific navigation items -->
  <ng-container *ngIf="isAdminOrProjectManager">
    <a mat-list-item 
       *ngFor="let item of adminNavItems" 
       [routerLink]="item.route" 
       routerLinkActive="active-link">
      <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
      <span matListItemTitle>{{ item.label }}</span>
    </a>
  </ng-container>
  
  <!-- Admin Section (only visible to superadmins) -->
  <ng-container *ngIf="isSuperAdmin">
    <mat-divider class="section-divider"></mat-divider>
    
    <div class="sidebar-section">
      <h3>Admin</h3>
    </div>
    
    <a mat-list-item 
       *ngFor="let item of adminItems" 
       [routerLink]="item.route" 
       routerLinkActive="active-link">
      <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
      <span matListItemTitle>{{ item.label }}</span>
    </a>
  </ng-container>
  
  <mat-divider class="section-divider"></mat-divider>
  
  <div class="sidebar-section">
    <h3>Account</h3>
  </div>
  
  <a mat-list-item 
     [routerLink]="'/profile'" 
     routerLinkActive="active-link">
    <mat-icon matListItemIcon>person</mat-icon>
    <span matListItemTitle>My Profile</span>
  </a>
  
  <a mat-list-item 
     [routerLink]="'/profile'" 
     [fragment]="'delete-account'"
     class="delete-account-link">
    <mat-icon matListItemIcon>delete_forever</mat-icon>
    <span matListItemTitle>Delete Account</span>
  </a>
</mat-nav-list>
