<div class="dashboard-container">
  <div class="dashboard-header">
    <div class="logo-container">
      <img *ngIf="headerLogo" [src]="headerLogo" alt="{{appName}} Logo" class="dashboard-logo">
      <h1 *ngIf="!headerLogo">{{appName}}</h1>
    </div>
    <h1>Dashboard</h1>
  </div>
  
  <div class="dashboard-grid">
    <mat-card class="dashboard-card" [routerLink]="['/app/users']">
      <mat-card-header>
        <mat-card-title>Users</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Total Users: 120</p>
      </mat-card-content>
    </mat-card>
    
    <mat-card class="dashboard-card" [routerLink]="['/app/groups']">
      <mat-card-header>
        <mat-card-title>Groups</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Total Groups: 15</p>
      </mat-card-content>
    </mat-card>
    
    <mat-card class="dashboard-card" [routerLink]="['/admin/login-monitoring']">
      <mat-card-header>
        <mat-card-title>Activity</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Latest Activities: 67</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
