<mat-toolbar class="header-toolbar" [class.fixed]="isFixedHeader">
  <!-- Left side -->
  <div class="left-section">
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <img [src]="headerLogo" alt="Logo" class="header-logo" *ngIf="headerLogo">
    <span class="app-name">{{ appName }}</span>
  </div>

  <!-- Right side -->
  <div class="right-section">
    <ng-container *ngIf="isAuthenticated; else loginButton">
      <button mat-button [matMenuTriggerFor]="userMenu" class="user-menu-button">
        <mat-icon>account_circle</mat-icon>
        <span>{{ user?.firstName || 'User' }}</span>
      </button>
      
      <mat-menu #userMenu="matMenu">
        <div class="user-menu-header">
          <p class="user-name">{{ user?.firstName || 'User' }} {{ user?.lastName || '' }}</p>
          <p class="user-email">{{ user?.email }}</p>
        </div>
        <mat-divider></mat-divider>
        <button mat-menu-item routerLink="/profile">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item routerLink="/settings">
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </ng-container>
    
    <ng-template #loginButton>
      <button mat-button routerLink="/login">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </button>
    </ng-template>
  </div>
</mat-toolbar>
