@use '../abstracts' as abstracts;

.alert {
  padding: abstracts.$spacing-md;
  border-radius: abstracts.$border-radius-sm;
  margin-bottom: abstracts.$spacing-md;
  
  &-danger {
    background-color: rgba(244, 67, 54, 0.1);
    border: 1px solid abstracts.$error;
    color: abstracts.$error;
  }
  
  &-success {
    background-color: rgba(76, 175, 80, 0.1);
    border: 1px solid abstracts.$success;
    color: abstracts.$success;
  }
  
  &-warning {
    background-color: rgba(255, 152, 0, 0.1);
    border: 1px solid abstracts.$warning;
    color: abstracts.$warning;
  }
  
  &-info {
    background-color: rgba(33, 150, 243, 0.1);
    border: 1px solid abstracts.$info;
    color: abstracts.$info;
  }
} 