<div class="users-container">
  <div class="users-list" *ngIf="!loading && !error">
    <h2>Users</h2>
    <div class="user-item" *ngFor="let user of users" 
         [class.selected]="selectedUser?.id === user.id"
         (click)="selectUser(user)"
         (keyup.enter)="selectUser(user)"
         tabindex="0">
      <div class="user-info">
        <span class="user-name">{{user.firstName}} {{user.lastName}}</span>
        <span class="user-email">{{user.email}}</span>
      </div>
      <button mat-icon-button color="warn" 
              *ngIf="canDeleteUser()"
              (click)="deleteUser(user); $event.stopPropagation()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <div class="loading" *ngIf="loading">
    <mat-spinner diameter="40"></mat-spinner>
    <span>Loading users...</span>
  </div>

  <div class="error" *ngIf="error">
    <mat-icon color="warn">error</mat-icon>
    <span>{{error}}</span>
  </div>

  <div class="user-details" *ngIf="selectedUser && canViewUserDetails()">
    <h3>User Details</h3>
    <div class="detail-row">
      <label for="userNameDetail">Name:</label>
      <span id="userNameDetail">{{selectedUser.firstName}} {{selectedUser.lastName}}</span>
    </div>
    <div class="detail-row">
      <label for="userEmailDetail">Email:</label>
      <span id="userEmailDetail">{{selectedUser.email}}</span>
    </div>
    <div class="detail-row" *ngIf="selectedUser.roles?.length">
      <label for="userRolesDetail">Roles:</label>
      <span id="userRolesDetail">{{getRoleNames(selectedUser)}}</span>
    </div>
    <div class="detail-row" *ngIf="selectedUser.permissions?.length">
      <label for="userPermissionsDetail">Permissions:</label>
      <span id="userPermissionsDetail">{{selectedUser.permissions.length}} permissions assigned</span>
    </div>
  </div>
</div> 